<!DOCTYPE html>
<html ng-app="cookieDemo">
<head>
  <meta charset="utf-8">
  <title>ch6</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
   
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="cookieDemo.js"></script>
</head>
<body>
	<div ng-controller="mainCtrl">
		<h1>Cookie 서비스 사용</h1>
		 
		<p>test 키로 저장된값: {{value}}</p>
		<button ng-click="getValue()">쿠키 가져오기</button>
		<br/>
		<input type="text" ng-model="iValue"><button ng-click="putValue(iValue)">쿠키저장</button>
	</div>
</body>
</html>